.container .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 2rem 0;
  width: 50%;
}

.container .contact .form-container {
  border: 3px solid #27ff27;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container .contact .form-container p {
  text-align: left;
  padding: 1rem;
  font-weight: 100;
}

.container .contact .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.container .contact .form-container form label,
.container .contact .form-container form input {
  color: #27ff27;
  width: 50%;
  display: inline;
  text-align: left;
  padding: 1rem;
  -webkit-transition: width 1s;
  transition: width 1s;
  font-family: "Press Start 2P";
  font-size: 1rem;
  border-radius: 2px;
  font-weight: 100;
}

.container .contact .form-container form input {
  border: 1px solid #27ff27;
  margin: 0 1rem;
}

.container .contact .form-container form input:focus,
.container .contact .form-container form input:hover {
  outline: none;
  width: 75%;
  border: 2px solid #27ff27;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

.container .contact .form-container form p {
  line-height: 1.5rem;
  font-weight: 100;
}

.container .contact .form-container form textarea {
  text-align: left;
  padding: 1rem;
  line-height: 1.5rem;
  font-family: "Press Start 2P";
  border: 1px solid #27ff27;
  border-radius: 2px;
  display: block;
  margin: 0 1rem;
  height: 10em;
  outline: none;
  color: #27ff27;
  font-size: 1rem;
  font-weight: 100;
}

.container .contact .form-container form textarea:hover,
.container .contact .form-container form textarea:focus {
  border: 2px solid #27ff27;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

.container .contact .form-container form button {
  display: block;
  margin: auto;
  cursor: pointer;
  font-size: 1.25rem;
  color: #27ff27;
  list-style: none;
  padding: 0.5em 0.5em;
  border: 3px solid rgba(3, 160, 98, 0.6);
  border-radius: 2px;
  text-shadow: 0 0 0.125em #27ff27, 0 0 0.45em;
  -webkit-box-shadow: inset 0 0 0.5em 0 #27ff27, 0 0 0.5em 0 #27ff27;
  box-shadow: inset 0 0 0.5em 0 #27ff27, 0 0 0.5em 0 #27ff27;
  font-family: "Press Start 2P";
  font-weight: 100;
}

.container .contact .form-container form button:hover {
  color: rgba(3, 160, 98, 0.2);
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}

.container .contact .form-container form button:focus {
  color: #27ff27;
}

.container .contact .contact-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
}

.container .contact .contact-container .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
}

.container .contact .contact-container p {
  text-align: left;
  padding: 2rem;
}

.container .contact .contact-container h2 {
  text-align: center;
}

.container .contact .contact-container .donations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75%;
  height: auto;
  align-items: center;
}

.container .contact .contact-container .icons {
  width: 75%;
  margin: auto;
  border-radius: 2px;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  justify-content: center;
}

.icons p,
.icons-container p {
  font-weight: 100;
}

.container .contact .contact-container p {
  padding: 0.5rem;
}

section.contact > div > div > div > p {
  width: 100%;
  margin: auto;
}

section.contact > div > div > div > div:nth-child(1) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.icons * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

[class^="fa"],
.gift {
  margin: 0.25em;
  background: #27ff27;
  color: #27ff27;
}

[class^="fa"]:hover,
.gift:hover {
  opacity: 0.6;
}

.gift {
  border: 2px solid #27ff27;
  border-radius: 6px;
}

.gift span img {
  padding: 0.15rem;
}