
  @media only screen and (max-width: 1120px){
    .about p{
      font-size: 0.9rem;
      line-height: 1.1;
    }

    .neon-button{
      font-size: 0.9rem;

    }
  }

  @media only screen and (max-width: 1000px){
  
    .overlay{
      width: 18%;
    }

    .about p{
      font-size: 0.85rem;
    }
  }

  @media only screen and (max-width: 850px){
    li p{
      font-size: 0.95rem;
    }
    .about p{
      margin-top: 0;
    }
  }

  @media only screen and (max-width: 730px){
    .about p{
      font-size: 0.8rem;
    }
  }

  @media only screen and (max-width: 620px){
    .swiper-pagination-bullet {
      margin: 0 0.5rem !important;
    }
    li p{
      font-size: 0.9rem;
    }
    .about p{
      font-size: 0.75rem;
    }
    .footer {
      font-size: 1rem;
    }
  }

  @media only screen and (max-width: 570px){
    .overlay{
      width: 16%;
    }
    .about p{
      font-size: 0.7rem;
    }
  }

  @media only screen and (max-width: 500px){
    .home h1 {
      font-size: 1.75rem;
    }
    li p{
      font-size: 0.85rem;
    }
  }
  @media only screen and (max-width: 470px){
    .home h1 {
      font-size: 1.5rem;
    }
    .header{
      height: 8vh;
    }
    li p{
      font-size: 0.75rem;
    }
  }

  @media only screen and (max-width: 430px){
   
    .header{
      height: 5vh;
    }
  }