.nav-container {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-list li {
  font-size: 1.25rem;
  margin: 1rem 0.5rem;
  list-style: none;
}

.neon-button {
  display: inline-block;
  cursor: pointer;
  padding: 0.5em 0.5em;
  border: 3px solid rgba(3, 160, 98, 0.6);
  border-radius: 2px;
  text-shadow: 0 0 0.125em #27ff27, 0 0 0.45em;
  box-shadow: inset 0 0 0.5em 0 #27ff27, 0 0 0.5em 0 #27ff27;
  position: relative;
}

.neon-button:hover {
  color: rgba(3, 160, 98, 0.2);
  transition: 100ms linear;
}

.neon-button:focus {
  color: #27ff27;
}

.nav-container {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto;
  align-items: center;
}
.nav-list {
  display: flex;  
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  width: 100%;
  margin: auto;
}
.nav-list li {
  width: 50%;
}
.nav-list li p a {
  text-align: center;
  width: 100%;
}