#stars,
#stars,
#stars3 {
  z-index: -99;
  margin-bottom: -3px;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1487px 822px #27ff27, 702px 619px #27ff27, 579px 76px #27ff27,
    881px 14px #27ff27, 1903px 741px #27ff27, 1401px 1791px #27ff27,
    1316px 857px #27ff27, 1628px 1376px #27ff27, 1641px 781px #27ff27,
    1421px 25px #27ff27, 525px 254px #27ff27, 683px 1197px #27ff27,
    1636px 1573px #27ff27, 1855px 1220px #27ff27, 108px 1424px #27ff27,
    906px 1967px #27ff27, 205px 1681px #27ff27, 1930px 731px #27ff27,
    1957px 104px #27ff27, 1558px 24px #27ff27, 211px 468px #27ff27,
    2px 1001px #27ff27, 664px 1095px #27ff27, 1023px 1573px #27ff27,
    272px 122px #27ff27, 659px 1641px #27ff27, 1518px 1633px #27ff27,
    1736px 1016px #27ff27, 1085px 1911px #27ff27, 737px 1784px #27ff27,
    564px 968px #27ff27, 150px 1277px #27ff27, 1848px 505px #27ff27,
    1067px 1414px #27ff27, 1619px 1498px #27ff27, 266px 757px #27ff27,
    450px 1052px #27ff27, 604px 1178px #27ff27, 1069px 1215px #27ff27,
    1045px 1816px #27ff27, 1682px 1111px #27ff27, 578px 1875px #27ff27,
    1197px 20px #27ff27, 736px 1923px #27ff27, 1698px 592px #27ff27,
    491px 1835px #27ff27, 106px 1113px #27ff27, 1944px 1749px #27ff27,
    677px 525px #27ff27, 798px 1663px #27ff27, 463px 19px #27ff27,
    1982px 1091px #27ff27, 736px 1597px #27ff27, 244px 1625px #27ff27,
    1699px 1257px #27ff27, 624px 114px #27ff27, 1290px 48px #27ff27,
    1007px 1111px #27ff27, 1411px 31px #27ff27, 1661px 1065px #27ff27,
    1583px 1593px #27ff27, 1165px 1985px #27ff27, 351px 222px #27ff27,
    158px 709px #27ff27, 1304px 194px #27ff27, 1192px 1923px #27ff27,
    358px 1642px #27ff27, 889px 1701px #27ff27, 424px 1427px #27ff27,
    1928px 573px #27ff27, 1263px 1473px #27ff27, 498px 33px #27ff27,
    1043px 286px #27ff27, 843px 1917px #27ff27, 909px 813px #27ff27,
    1033px 291px #27ff27, 41px 749px #27ff27, 1807px 1719px #27ff27,
    1984px 284px #27ff27, 1983px 1696px #27ff27, 1409px 179px #27ff27,
    1350px 929px #27ff27, 332px 1747px #27ff27, 212px 1977px #27ff27,
    1668px 1254px #27ff27, 1585px 1736px #27ff27, 783px 85px #27ff27,
    1961px 847px #27ff27, 1692px 996px #27ff27, 1829px 694px #27ff27,
    965px 891px #27ff27, 1793px 102px #27ff27, 1347px 235px #27ff27,
    1566px 1954px #27ff27, 1406px 1765px #27ff27, 1346px 1832px #27ff27,
    452px 1205px #27ff27, 1667px 1688px #27ff27, 1337px 1664px #27ff27,
    1728px 832px #27ff27, 1568px 1213px #27ff27, 1980px 357px #27ff27,
    1096px 624px #27ff27, 210px 636px #27ff27, 1247px 1830px #27ff27,
    1789px 1970px #27ff27, 582px 978px #27ff27, 1473px 1002px #27ff27,
    1042px 440px #27ff27, 1189px 879px #27ff27, 24px 931px #27ff27,
    1656px 1848px #27ff27, 401px 1676px #27ff27, 192px 1632px #27ff27,
    970px 1936px #27ff27, 231px 1849px #27ff27, 1860px 127px #27ff27,
    469px 1487px #27ff27, 436px 1899px #27ff27, 680px 1290px #27ff27,
    809px 128px #27ff27, 163px 683px #27ff27, 1221px 1732px #27ff27,
    982px 801px #27ff27, 149px 455px #27ff27, 39px 1305px #27ff27,
    248px 1059px #27ff27, 1985px 1040px #27ff27, 823px 1174px #27ff27,
    1823px 12px #27ff27, 1558px 1446px #27ff27, 164px 348px #27ff27,
    504px 311px #27ff27, 95px 1735px #27ff27, 1817px 560px #27ff27,
    1527px 1792px #27ff27, 296px 377px #27ff27, 1480px 353px #27ff27,
    1419px 1148px #27ff27, 734px 610px #27ff27, 1233px 1076px #27ff27,
    1495px 198px #27ff27, 1722px 1821px #27ff27, 57px 914px #27ff27,
    81px 1967px #27ff27, 157px 1383px #27ff27, 478px 1545px #27ff27,
    96px 1485px #27ff27, 1248px 1516px #27ff27, 1989px 1475px #27ff27,
    730px 61px #27ff27, 646px 342px #27ff27, 656px 376px #27ff27,
    809px 1394px #27ff27, 483px 1916px #27ff27, 695px 1985px #27ff27,
    954px 279px #27ff27, 1704px 234px #27ff27, 204px 1621px #27ff27,
    490px 414px #27ff27, 929px 1852px #27ff27, 383px 1017px #27ff27,
    1319px 14px #27ff27, 103px 1147px #27ff27, 1780px 62px #27ff27,
    764px 318px #27ff27, 950px 1468px #27ff27, 767px 8px #27ff27,
    1038px 763px #27ff27, 62px 680px #27ff27, 1619px 817px #27ff27,
    1462px 1819px #27ff27, 1340px 1956px #27ff27, 1802px 902px #27ff27,
    1739px 1865px #27ff27, 886px 854px #27ff27, 1760px 1693px #27ff27,
    1571px 1175px #27ff27, 1149px 1748px #27ff27, 1521px 1213px #27ff27,
    575px 162px #27ff27, 1904px 456px #27ff27, 1399px 416px #27ff27,
    1325px 1118px #27ff27, 1848px 478px #27ff27, 1447px 841px #27ff27,
    457px 1619px #27ff27, 1202px 1049px #27ff27, 397px 682px #27ff27,
    465px 1042px #27ff27, 1264px 1033px #27ff27, 1304px 1004px #27ff27,
    649px 1586px #27ff27, 97px 1308px #27ff27, 21px 619px #27ff27,
    469px 1742px #27ff27, 81px 1745px #27ff27, 1735px 1208px #27ff27,
    805px 1206px #27ff27, 717px 492px #27ff27, 187px 1317px #27ff27,
    860px 1290px #27ff27, 1964px 1712px #27ff27, 1036px 142px #27ff27,
    1238px 442px #27ff27, 1766px 423px #27ff27, 925px 353px #27ff27,
    569px 5px #27ff27, 1338px 383px #27ff27, 1321px 90px #27ff27,
    1613px 749px #27ff27, 409px 1835px #27ff27, 642px 715px #27ff27,
    1402px 444px #27ff27, 1669px 197px #27ff27, 291px 1022px #27ff27,
    632px 1847px #27ff27, 678px 810px #27ff27, 570px 798px #27ff27,
    1521px 681px #27ff27, 309px 176px #27ff27, 1913px 882px #27ff27,
    1129px 1601px #27ff27, 1310px 1490px #27ff27, 883px 1925px #27ff27,
    1354px 140px #27ff27, 1474px 628px #27ff27, 1997px 230px #27ff27,
    351px 1212px #27ff27, 576px 706px #27ff27, 1210px 1325px #27ff27,
    1927px 315px #27ff27, 1505px 1249px #27ff27, 699px 1811px #27ff27,
    1428px 913px #27ff27, 691px 1811px #27ff27, 977px 1645px #27ff27,
    330px 260px #27ff27, 1632px 1148px #27ff27, 878px 1070px #27ff27,
    390px 1127px #27ff27, 1915px 1956px #27ff27, 805px 314px #27ff27,
    260px 623px #27ff27, 1471px 1629px #27ff27, 1333px 1800px #27ff27,
    1158px 1712px #27ff27, 813px 641px #27ff27, 608px 761px #27ff27,
    529px 1163px #27ff27, 1916px 1476px #27ff27, 308px 1823px #27ff27,
    910px 894px #27ff27, 839px 431px #27ff27, 1638px 1599px #27ff27,
    128px 1590px #27ff27, 1157px 1788px #27ff27, 1035px 773px #27ff27,
    389px 277px #27ff27, 553px 1014px #27ff27, 1978px 668px #27ff27,
    615px 1056px #27ff27, 944px 1726px #27ff27, 974px 324px #27ff27,
    1448px 349px #27ff27, 848px 405px #27ff27, 1757px 1457px #27ff27,
    468px 1754px #27ff27, 714px 414px #27ff27, 697px 592px #27ff27,
    1434px 1246px #27ff27, 258px 1687px #27ff27, 953px 1354px #27ff27,
    922px 179px #27ff27, 1899px 662px #27ff27, 1103px 448px #27ff27,
    1205px 799px #27ff27, 1256px 1247px #27ff27, 1772px 194px #27ff27,
    1809px 1285px #27ff27, 518px 698px #27ff27, 1906px 332px #27ff27,
    1182px 536px #27ff27, 1758px 354px #27ff27, 131px 1042px #27ff27,
    923px 1832px #27ff27, 1117px 1198px #27ff27, 143px 1532px #27ff27,
    1401px 395px #27ff27, 1359px 1550px #27ff27, 615px 206px #27ff27,
    694px 475px #27ff27, 530px 1675px #27ff27, 1413px 1544px #27ff27,
    1330px 1429px #27ff27, 1433px 1453px #27ff27, 1271px 846px #27ff27,
    1369px 1790px #27ff27, 517px 1392px #27ff27, 897px 1434px #27ff27,
    1906px 1012px #27ff27, 1523px 1474px #27ff27, 666px 7px #27ff27,
    598px 1273px #27ff27, 1544px 541px #27ff27, 248px 268px #27ff27,
    1992px 848px #27ff27, 571px 870px #27ff27, 1228px 679px #27ff27,
    1096px 187px #27ff27, 1553px 15px #27ff27, 523px 779px #27ff27,
    140px 231px #27ff27, 659px 577px #27ff27, 463px 727px #27ff27,
    986px 623px #27ff27, 1822px 1062px #27ff27, 596px 1460px #27ff27,
    462px 115px #27ff27, 1318px 516px #27ff27, 409px 729px #27ff27,
    710px 976px #27ff27, 1163px 1539px #27ff27, 1542px 1362px #27ff27,
    394px 1840px #27ff27, 904px 1541px #27ff27, 1549px 538px #27ff27,
    1594px 1384px #27ff27, 1030px 1465px #27ff27, 599px 544px #27ff27,
    1933px 241px #27ff27, 1281px 287px #27ff27, 729px 1282px #27ff27,
    819px 364px #27ff27, 797px 1590px #27ff27, 1023px 1973px #27ff27,
    1708px 961px #27ff27, 293px 1953px #27ff27, 1685px 1879px #27ff27,
    1285px 1995px #27ff27, 1380px 219px #27ff27, 1715px 1980px #27ff27,
    218px 108px #27ff27, 700px 711px #27ff27, 471px 1764px #27ff27,
    10px 1084px #27ff27, 1841px 1778px #27ff27, 1765px 1548px #27ff27,
    712px 1703px #27ff27, 1866px 1805px #27ff27, 1896px 760px #27ff27,
    1391px 40px #27ff27, 761px 1516px #27ff27, 1329px 584px #27ff27,
    385px 1141px #27ff27, 1238px 21px #27ff27, 1070px 486px #27ff27,
    1096px 312px #27ff27, 1254px 1674px #27ff27, 549px 1349px #27ff27,
    1618px 986px #27ff27, 707px 1741px #27ff27, 1718px 1514px #27ff27,
    481px 597px #27ff27, 1690px 1472px #27ff27, 1728px 919px #27ff27,
    173px 1196px #27ff27, 1778px 1257px #27ff27, 1207px 649px #27ff27,
    447px 634px #27ff27, 1306px 1444px #27ff27, 936px 1818px #27ff27,
    855px 1015px #27ff27, 1421px 332px #27ff27, 1138px 1889px #27ff27,
    1974px 694px #27ff27, 715px 308px #27ff27, 757px 155px #27ff27,
    18px 107px #27ff27, 561px 378px #27ff27, 144px 798px #27ff27,
    1184px 967px #27ff27, 1263px 1130px #27ff27, 1382px 895px #27ff27,
    149px 175px #27ff27, 1297px 839px #27ff27, 943px 454px #27ff27,
    178px 1165px #27ff27, 477px 407px #27ff27, 416px 219px #27ff27,
    1056px 1491px #27ff27, 625px 816px #27ff27, 100px 1537px #27ff27,
    1074px 520px #27ff27, 1031px 1453px #27ff27, 1377px 614px #27ff27,
    572px 1314px #27ff27, 1513px 1235px #27ff27, 1920px 1211px #27ff27,
    330px 107px #27ff27, 1260px 772px #27ff27, 1198px 84px #27ff27,
    1409px 139px #27ff27, 758px 98px #27ff27, 698px 1771px #27ff27,
    273px 275px #27ff27, 163px 200px #27ff27, 1665px 732px #27ff27,
    95px 600px #27ff27, 522px 122px #27ff27, 76px 804px #27ff27,
    1669px 1526px #27ff27, 1881px 465px #27ff27, 1043px 1919px #27ff27,
    1521px 827px #27ff27, 1197px 1997px #27ff27, 489px 593px #27ff27,
    1899px 722px #27ff27, 1575px 332px #27ff27, 327px 718px #27ff27,
    1959px 1378px #27ff27, 455px 1333px #27ff27, 729px 822px #27ff27,
    748px 126px #27ff27, 444px 445px #27ff27, 1856px 262px #27ff27,
    1140px 921px #27ff27, 1680px 1227px #27ff27, 1144px 1742px #27ff27,
    1922px 384px #27ff27, 1015px 496px #27ff27, 1213px 831px #27ff27,
    1793px 898px #27ff27, 35px 159px #27ff27, 571px 1505px #27ff27,
    726px 42px #27ff27, 1216px 1214px #27ff27, 938px 50px #27ff27,
    322px 1017px #27ff27, 1222px 523px #27ff27, 660px 1174px #27ff27,
    355px 859px #27ff27, 1381px 1648px #27ff27, 8px 1546px #27ff27,
    1768px 17px #27ff27, 301px 1159px #27ff27, 1550px 185px #27ff27,
    1289px 656px #27ff27, 1187px 106px #27ff27, 669px 1498px #27ff27,
    555px 323px #27ff27, 454px 288px #27ff27, 72px 271px #27ff27,
    445px 1713px #27ff27, 136px 10px #27ff27, 1810px 1149px #27ff27,
    1445px 794px #27ff27, 406px 1822px #27ff27, 1994px 741px #27ff27,
    1837px 1564px #27ff27, 1264px 80px #27ff27, 273px 845px #27ff27,
    322px 1693px #27ff27, 103px 463px #27ff27, 689px 1161px #27ff27,
    353px 717px #27ff27, 1275px 1895px #27ff27, 1331px 130px #27ff27,
    1251px 1424px #27ff27, 1003px 1183px #27ff27, 721px 904px #27ff27,
    1261px 416px #27ff27, 600px 577px #27ff27, 384px 910px #27ff27,
    1248px 1547px #27ff27, 955px 734px #27ff27, 686px 891px #27ff27,
    196px 1523px #27ff27, 831px 327px #27ff27, 845px 1486px #27ff27,
    1553px 1438px #27ff27, 1133px 1152px #27ff27, 356px 1087px #27ff27,
    1503px 807px #27ff27, 1098px 1396px #27ff27, 94px 1934px #27ff27,
    1195px 58px #27ff27, 748px 771px #27ff27, 940px 570px #27ff27,
    574px 651px #27ff27, 835px 533px #27ff27, 42px 1210px #27ff27,
    496px 1791px #27ff27, 1610px 296px #27ff27, 1446px 1574px #27ff27,
    261px 1765px #27ff27, 818px 368px #27ff27, 573px 743px #27ff27,
    545px 333px #27ff27, 1500px 1567px #27ff27, 1789px 448px #27ff27,
    1139px 1559px #27ff27, 1607px 1127px #27ff27, 1980px 874px #27ff27,
    731px 1559px #27ff27, 898px 158px #27ff27, 1641px 1053px #27ff27,
    53px 377px #27ff27, 1879px 1370px #27ff27, 1377px 899px #27ff27,
    1416px 829px #27ff27, 863px 1545px #27ff27, 1219px 1935px #27ff27,
    1638px 320px #27ff27, 239px 1807px #27ff27, 851px 464px #27ff27,
    1868px 1843px #27ff27, 679px 203px #27ff27, 1762px 842px #27ff27,
    59px 1986px #27ff27, 1142px 1911px #27ff27, 838px 1030px #27ff27,
    1370px 1269px #27ff27, 781px 274px #27ff27, 1193px 551px #27ff27,
    638px 478px #27ff27, 456px 1854px #27ff27, 424px 690px #27ff27,
    13px 600px #27ff27, 306px 1867px #27ff27, 384px 1298px #27ff27,
    762px 342px #27ff27, 1780px 1196px #27ff27, 108px 1138px #27ff27,
    1671px 866px #27ff27, 831px 1515px #27ff27, 218px 1455px #27ff27,
    1315px 1494px #27ff27, 1365px 1181px #27ff27, 168px 986px #27ff27,
    349px 506px #27ff27, 974px 1437px #27ff27, 1605px 908px #27ff27,
    1036px 1208px #27ff27, 1082px 1407px #27ff27, 916px 827px #27ff27,
    1526px 566px #27ff27, 1159px 1877px #27ff27, 210px 1180px #27ff27,
    979px 1815px #27ff27, 130px 1358px #27ff27, 1961px 1963px #27ff27,
    771px 591px #27ff27, 1905px 487px #27ff27, 1816px 1565px #27ff27,
    333px 1600px #27ff27, 1842px 1774px #27ff27, 1573px 135px #27ff27,
    1385px 1889px #27ff27, 1611px 1033px #27ff27, 367px 1236px #27ff27,
    779px 1022px #27ff27, 1851px 62px #27ff27, 478px 257px #27ff27,
    1907px 1960px #27ff27, 1435px 532px #27ff27, 662px 8px #27ff27,
    1027px 1924px #27ff27, 489px 101px #27ff27, 76px 1875px #27ff27,
    657px 1682px #27ff27, 1993px 1955px #27ff27, 1432px 1845px #27ff27,
    1530px 1729px #27ff27, 1211px 896px #27ff27, 1525px 133px #27ff27,
    1445px 803px #27ff27, 530px 62px #27ff27, 242px 1513px #27ff27,
    256px 933px #27ff27, 1701px 936px #27ff27, 756px 1893px #27ff27,
    1251px 1298px #27ff27, 380px 1399px #27ff27, 1455px 302px #27ff27,
    1729px 1171px #27ff27, 585px 49px #27ff27, 1961px 1124px #27ff27,
    1241px 552px #27ff27, 1205px 40px #27ff27, 1938px 1247px #27ff27,
    1469px 89px #27ff27, 239px 1939px #27ff27, 698px 448px #27ff27,
    1795px 346px #27ff27, 151px 487px #27ff27, 102px 126px #27ff27,
    1184px 418px #27ff27, 1625px 1418px #27ff27, 29px 554px #27ff27,
    1288px 1274px #27ff27, 791px 1308px #27ff27, 151px 934px #27ff27,
    1574px 386px #27ff27, 1214px 1703px #27ff27, 1569px 1424px #27ff27,
    951px 1830px #27ff27, 1728px 805px #27ff27, 312px 1987px #27ff27,
    1468px 529px #27ff27, 1153px 1146px #27ff27, 1262px 1021px #27ff27,
    1648px 1766px #27ff27, 306px 70px #27ff27, 754px 1165px #27ff27,
    1930px 482px #27ff27, 1814px 1593px #27ff27, 1066px 822px #27ff27,
    1250px 877px #27ff27, 465px 1885px #27ff27, 1649px 1281px #27ff27,
    1682px 1601px #27ff27, 1367px 1233px #27ff27, 91px 1327px #27ff27,
    1485px 1355px #27ff27, 501px 1673px #27ff27, 1649px 1259px #27ff27,
    1986px 948px #27ff27, 1266px 1829px #27ff27, 135px 1503px #27ff27,
    647px 296px #27ff27, 155px 341px #27ff27, 649px 1896px #27ff27,
    1617px 334px #27ff27, 223px 1507px #27ff27, 584px 146px #27ff27,
    200px 316px #27ff27, 575px 1831px #27ff27, 1374px 1809px #27ff27,
    1445px 386px #27ff27, 475px 1249px #27ff27, 1954px 89px #27ff27,
    1756px 1192px #27ff27, 8px 671px #27ff27, 1366px 1694px #27ff27,
    1831px 306px #27ff27, 925px 113px #27ff27, 160px 1174px #27ff27,
    534px 1908px #27ff27, 553px 273px #27ff27, 423px 45px #27ff27,
    1305px 1098px #27ff27, 187px 90px #27ff27, 1993px 1396px #27ff27,
    842px 1270px #27ff27, 1137px 554px #27ff27, 351px 558px #27ff27,
    1576px 1070px #27ff27, 437px 312px #27ff27, 286px 1019px #27ff27,
    257px 272px #27ff27, 1242px 1957px #27ff27, 1963px 1693px #27ff27,
    772px 447px #27ff27, 1641px 508px #27ff27, 712px 100px #27ff27,
    1307px 1015px #27ff27, 742px 327px #27ff27, 281px 1814px #27ff27,
    1398px 1051px #27ff27, 167px 9px #27ff27, 328px 1489px #27ff27,
    1814px 1804px #27ff27, 946px 25px #27ff27, 549px 1705px #27ff27,
    217px 1477px #27ff27, 1937px 280px #27ff27, 182px 241px #27ff27,
    711px 1365px #27ff27, 1898px 1043px #27ff27, 1807px 346px #27ff27,
    1787px 1253px #27ff27, 247px 66px #27ff27, 1171px 1592px #27ff27,
    846px 895px #27ff27, 1507px 720px #27ff27, 787px 574px #27ff27,
    1593px 1267px #27ff27, 843px 1902px #27ff27, 15px 1454px #27ff27,
    539px 1420px #27ff27, 1856px 974px #27ff27, 340px 663px #27ff27,
    1579px 1091px #27ff27, 809px 111px #27ff27, 32px 1128px #27ff27,
    69px 1852px #27ff27, 878px 300px #27ff27, 730px 726px #27ff27,
    1137px 68px #27ff27;
  animation: animStar 50s linear infinite;
}
#stars::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1487px 822px #27ff27, 702px 619px #27ff27, 579px 76px #27ff27,
    881px 14px #27ff27, 1903px 741px #27ff27, 1401px 1791px #27ff27,
    1316px 857px #27ff27, 1628px 1376px #27ff27, 1641px 781px #27ff27,
    1421px 25px #27ff27, 525px 254px #27ff27, 683px 1197px #27ff27,
    1636px 1573px #27ff27, 1855px 1220px #27ff27, 108px 1424px #27ff27,
    906px 1967px #27ff27, 205px 1681px #27ff27, 1930px 731px #27ff27,
    1957px 104px #27ff27, 1558px 24px #27ff27, 211px 468px #27ff27,
    2px 1001px #27ff27, 664px 1095px #27ff27, 1023px 1573px #27ff27,
    272px 122px #27ff27, 659px 1641px #27ff27, 1518px 1633px #27ff27,
    1736px 1016px #27ff27, 1085px 1911px #27ff27, 737px 1784px #27ff27,
    564px 968px #27ff27, 150px 1277px #27ff27, 1848px 505px #27ff27,
    1067px 1414px #27ff27, 1619px 1498px #27ff27, 266px 757px #27ff27,
    450px 1052px #27ff27, 604px 1178px #27ff27, 1069px 1215px #27ff27,
    1045px 1816px #27ff27, 1682px 1111px #27ff27, 578px 1875px #27ff27,
    1197px 20px #27ff27, 736px 1923px #27ff27, 1698px 592px #27ff27,
    491px 1835px #27ff27, 106px 1113px #27ff27, 1944px 1749px #27ff27,
    677px 525px #27ff27, 798px 1663px #27ff27, 463px 19px #27ff27,
    1982px 1091px #27ff27, 736px 1597px #27ff27, 244px 1625px #27ff27,
    1699px 1257px #27ff27, 624px 114px #27ff27, 1290px 48px #27ff27,
    1007px 1111px #27ff27, 1411px 31px #27ff27, 1661px 1065px #27ff27,
    1583px 1593px #27ff27, 1165px 1985px #27ff27, 351px 222px #27ff27,
    158px 709px #27ff27, 1304px 194px #27ff27, 1192px 1923px #27ff27,
    358px 1642px #27ff27, 889px 1701px #27ff27, 424px 1427px #27ff27,
    1928px 573px #27ff27, 1263px 1473px #27ff27, 498px 33px #27ff27,
    1043px 286px #27ff27, 843px 1917px #27ff27, 909px 813px #27ff27,
    1033px 291px #27ff27, 41px 749px #27ff27, 1807px 1719px #27ff27,
    1984px 284px #27ff27, 1983px 1696px #27ff27, 1409px 179px #27ff27,
    1350px 929px #27ff27, 332px 1747px #27ff27, 212px 1977px #27ff27,
    1668px 1254px #27ff27, 1585px 1736px #27ff27, 783px 85px #27ff27,
    1961px 847px #27ff27, 1692px 996px #27ff27, 1829px 694px #27ff27,
    965px 891px #27ff27, 1793px 102px #27ff27, 1347px 235px #27ff27,
    1566px 1954px #27ff27, 1406px 1765px #27ff27, 1346px 1832px #27ff27,
    452px 1205px #27ff27, 1667px 1688px #27ff27, 1337px 1664px #27ff27,
    1728px 832px #27ff27, 1568px 1213px #27ff27, 1980px 357px #27ff27,
    1096px 624px #27ff27, 210px 636px #27ff27, 1247px 1830px #27ff27,
    1789px 1970px #27ff27, 582px 978px #27ff27, 1473px 1002px #27ff27,
    1042px 440px #27ff27, 1189px 879px #27ff27, 24px 931px #27ff27,
    1656px 1848px #27ff27, 401px 1676px #27ff27, 192px 1632px #27ff27,
    970px 1936px #27ff27, 231px 1849px #27ff27, 1860px 127px #27ff27,
    469px 1487px #27ff27, 436px 1899px #27ff27, 680px 1290px #27ff27,
    809px 128px #27ff27, 163px 683px #27ff27, 1221px 1732px #27ff27,
    982px 801px #27ff27, 149px 455px #27ff27, 39px 1305px #27ff27,
    248px 1059px #27ff27, 1985px 1040px #27ff27, 823px 1174px #27ff27,
    1823px 12px #27ff27, 1558px 1446px #27ff27, 164px 348px #27ff27,
    504px 311px #27ff27, 95px 1735px #27ff27, 1817px 560px #27ff27,
    1527px 1792px #27ff27, 296px 377px #27ff27, 1480px 353px #27ff27,
    1419px 1148px #27ff27, 734px 610px #27ff27, 1233px 1076px #27ff27,
    1495px 198px #27ff27, 1722px 1821px #27ff27, 57px 914px #27ff27,
    81px 1967px #27ff27, 157px 1383px #27ff27, 478px 1545px #27ff27,
    96px 1485px #27ff27, 1248px 1516px #27ff27, 1989px 1475px #27ff27,
    730px 61px #27ff27, 646px 342px #27ff27, 656px 376px #27ff27,
    809px 1394px #27ff27, 483px 1916px #27ff27, 695px 1985px #27ff27,
    954px 279px #27ff27, 1704px 234px #27ff27, 204px 1621px #27ff27,
    490px 414px #27ff27, 929px 1852px #27ff27, 383px 1017px #27ff27,
    1319px 14px #27ff27, 103px 1147px #27ff27, 1780px 62px #27ff27,
    764px 318px #27ff27, 950px 1468px #27ff27, 767px 8px #27ff27,
    1038px 763px #27ff27, 62px 680px #27ff27, 1619px 817px #27ff27,
    1462px 1819px #27ff27, 1340px 1956px #27ff27, 1802px 902px #27ff27,
    1739px 1865px #27ff27, 886px 854px #27ff27, 1760px 1693px #27ff27,
    1571px 1175px #27ff27, 1149px 1748px #27ff27, 1521px 1213px #27ff27,
    575px 162px #27ff27, 1904px 456px #27ff27, 1399px 416px #27ff27,
    1325px 1118px #27ff27, 1848px 478px #27ff27, 1447px 841px #27ff27,
    457px 1619px #27ff27, 1202px 1049px #27ff27, 397px 682px #27ff27,
    465px 1042px #27ff27, 1264px 1033px #27ff27, 1304px 1004px #27ff27,
    649px 1586px #27ff27, 97px 1308px #27ff27, 21px 619px #27ff27,
    469px 1742px #27ff27, 81px 1745px #27ff27, 1735px 1208px #27ff27,
    805px 1206px #27ff27, 717px 492px #27ff27, 187px 1317px #27ff27,
    860px 1290px #27ff27, 1964px 1712px #27ff27, 1036px 142px #27ff27,
    1238px 442px #27ff27, 1766px 423px #27ff27, 925px 353px #27ff27,
    569px 5px #27ff27, 1338px 383px #27ff27, 1321px 90px #27ff27,
    1613px 749px #27ff27, 409px 1835px #27ff27, 642px 715px #27ff27,
    1402px 444px #27ff27, 1669px 197px #27ff27, 291px 1022px #27ff27,
    632px 1847px #27ff27, 678px 810px #27ff27, 570px 798px #27ff27,
    1521px 681px #27ff27, 309px 176px #27ff27, 1913px 882px #27ff27,
    1129px 1601px #27ff27, 1310px 1490px #27ff27, 883px 1925px #27ff27,
    1354px 140px #27ff27, 1474px 628px #27ff27, 1997px 230px #27ff27,
    351px 1212px #27ff27, 576px 706px #27ff27, 1210px 1325px #27ff27,
    1927px 315px #27ff27, 1505px 1249px #27ff27, 699px 1811px #27ff27,
    1428px 913px #27ff27, 691px 1811px #27ff27, 977px 1645px #27ff27,
    330px 260px #27ff27, 1632px 1148px #27ff27, 878px 1070px #27ff27,
    390px 1127px #27ff27, 1915px 1956px #27ff27, 805px 314px #27ff27,
    260px 623px #27ff27, 1471px 1629px #27ff27, 1333px 1800px #27ff27,
    1158px 1712px #27ff27, 813px 641px #27ff27, 608px 761px #27ff27,
    529px 1163px #27ff27, 1916px 1476px #27ff27, 308px 1823px #27ff27,
    910px 894px #27ff27, 839px 431px #27ff27, 1638px 1599px #27ff27,
    128px 1590px #27ff27, 1157px 1788px #27ff27, 1035px 773px #27ff27,
    389px 277px #27ff27, 553px 1014px #27ff27, 1978px 668px #27ff27,
    615px 1056px #27ff27, 944px 1726px #27ff27, 974px 324px #27ff27,
    1448px 349px #27ff27, 848px 405px #27ff27, 1757px 1457px #27ff27,
    468px 1754px #27ff27, 714px 414px #27ff27, 697px 592px #27ff27,
    1434px 1246px #27ff27, 258px 1687px #27ff27, 953px 1354px #27ff27,
    922px 179px #27ff27, 1899px 662px #27ff27, 1103px 448px #27ff27,
    1205px 799px #27ff27, 1256px 1247px #27ff27, 1772px 194px #27ff27,
    1809px 1285px #27ff27, 518px 698px #27ff27, 1906px 332px #27ff27,
    1182px 536px #27ff27, 1758px 354px #27ff27, 131px 1042px #27ff27,
    923px 1832px #27ff27, 1117px 1198px #27ff27, 143px 1532px #27ff27,
    1401px 395px #27ff27, 1359px 1550px #27ff27, 615px 206px #27ff27,
    694px 475px #27ff27, 530px 1675px #27ff27, 1413px 1544px #27ff27,
    1330px 1429px #27ff27, 1433px 1453px #27ff27, 1271px 846px #27ff27,
    1369px 1790px #27ff27, 517px 1392px #27ff27, 897px 1434px #27ff27,
    1906px 1012px #27ff27, 1523px 1474px #27ff27, 666px 7px #27ff27,
    598px 1273px #27ff27, 1544px 541px #27ff27, 248px 268px #27ff27,
    1992px 848px #27ff27, 571px 870px #27ff27, 1228px 679px #27ff27,
    1096px 187px #27ff27, 1553px 15px #27ff27, 523px 779px #27ff27,
    140px 231px #27ff27, 659px 577px #27ff27, 463px 727px #27ff27,
    986px 623px #27ff27, 1822px 1062px #27ff27, 596px 1460px #27ff27,
    462px 115px #27ff27, 1318px 516px #27ff27, 409px 729px #27ff27,
    710px 976px #27ff27, 1163px 1539px #27ff27, 1542px 1362px #27ff27,
    394px 1840px #27ff27, 904px 1541px #27ff27, 1549px 538px #27ff27,
    1594px 1384px #27ff27, 1030px 1465px #27ff27, 599px 544px #27ff27,
    1933px 241px #27ff27, 1281px 287px #27ff27, 729px 1282px #27ff27,
    819px 364px #27ff27, 797px 1590px #27ff27, 1023px 1973px #27ff27,
    1708px 961px #27ff27, 293px 1953px #27ff27, 1685px 1879px #27ff27,
    1285px 1995px #27ff27, 1380px 219px #27ff27, 1715px 1980px #27ff27,
    218px 108px #27ff27, 700px 711px #27ff27, 471px 1764px #27ff27,
    10px 1084px #27ff27, 1841px 1778px #27ff27, 1765px 1548px #27ff27,
    712px 1703px #27ff27, 1866px 1805px #27ff27, 1896px 760px #27ff27,
    1391px 40px #27ff27, 761px 1516px #27ff27, 1329px 584px #27ff27,
    385px 1141px #27ff27, 1238px 21px #27ff27, 1070px 486px #27ff27,
    1096px 312px #27ff27, 1254px 1674px #27ff27, 549px 1349px #27ff27,
    1618px 986px #27ff27, 707px 1741px #27ff27, 1718px 1514px #27ff27,
    481px 597px #27ff27, 1690px 1472px #27ff27, 1728px 919px #27ff27,
    173px 1196px #27ff27, 1778px 1257px #27ff27, 1207px 649px #27ff27,
    447px 634px #27ff27, 1306px 1444px #27ff27, 936px 1818px #27ff27,
    855px 1015px #27ff27, 1421px 332px #27ff27, 1138px 1889px #27ff27,
    1974px 694px #27ff27, 715px 308px #27ff27, 757px 155px #27ff27,
    18px 107px #27ff27, 561px 378px #27ff27, 144px 798px #27ff27,
    1184px 967px #27ff27, 1263px 1130px #27ff27, 1382px 895px #27ff27,
    149px 175px #27ff27, 1297px 839px #27ff27, 943px 454px #27ff27,
    178px 1165px #27ff27, 477px 407px #27ff27, 416px 219px #27ff27,
    1056px 1491px #27ff27, 625px 816px #27ff27, 100px 1537px #27ff27,
    1074px 520px #27ff27, 1031px 1453px #27ff27, 1377px 614px #27ff27,
    572px 1314px #27ff27, 1513px 1235px #27ff27, 1920px 1211px #27ff27,
    330px 107px #27ff27, 1260px 772px #27ff27, 1198px 84px #27ff27,
    1409px 139px #27ff27, 758px 98px #27ff27, 698px 1771px #27ff27,
    273px 275px #27ff27, 163px 200px #27ff27, 1665px 732px #27ff27,
    95px 600px #27ff27, 522px 122px #27ff27, 76px 804px #27ff27,
    1669px 1526px #27ff27, 1881px 465px #27ff27, 1043px 1919px #27ff27,
    1521px 827px #27ff27, 1197px 1997px #27ff27, 489px 593px #27ff27,
    1899px 722px #27ff27, 1575px 332px #27ff27, 327px 718px #27ff27,
    1959px 1378px #27ff27, 455px 1333px #27ff27, 729px 822px #27ff27,
    748px 126px #27ff27, 444px 445px #27ff27, 1856px 262px #27ff27,
    1140px 921px #27ff27, 1680px 1227px #27ff27, 1144px 1742px #27ff27,
    1922px 384px #27ff27, 1015px 496px #27ff27, 1213px 831px #27ff27,
    1793px 898px #27ff27, 35px 159px #27ff27, 571px 1505px #27ff27,
    726px 42px #27ff27, 1216px 1214px #27ff27, 938px 50px #27ff27,
    322px 1017px #27ff27, 1222px 523px #27ff27, 660px 1174px #27ff27,
    355px 859px #27ff27, 1381px 1648px #27ff27, 8px 1546px #27ff27,
    1768px 17px #27ff27, 301px 1159px #27ff27, 1550px 185px #27ff27,
    1289px 656px #27ff27, 1187px 106px #27ff27, 669px 1498px #27ff27,
    555px 323px #27ff27, 454px 288px #27ff27, 72px 271px #27ff27,
    445px 1713px #27ff27, 136px 10px #27ff27, 1810px 1149px #27ff27,
    1445px 794px #27ff27, 406px 1822px #27ff27, 1994px 741px #27ff27,
    1837px 1564px #27ff27, 1264px 80px #27ff27, 273px 845px #27ff27,
    322px 1693px #27ff27, 103px 463px #27ff27, 689px 1161px #27ff27,
    353px 717px #27ff27, 1275px 1895px #27ff27, 1331px 130px #27ff27,
    1251px 1424px #27ff27, 1003px 1183px #27ff27, 721px 904px #27ff27,
    1261px 416px #27ff27, 600px 577px #27ff27, 384px 910px #27ff27,
    1248px 1547px #27ff27, 955px 734px #27ff27, 686px 891px #27ff27,
    196px 1523px #27ff27, 831px 327px #27ff27, 845px 1486px #27ff27,
    1553px 1438px #27ff27, 1133px 1152px #27ff27, 356px 1087px #27ff27,
    1503px 807px #27ff27, 1098px 1396px #27ff27, 94px 1934px #27ff27,
    1195px 58px #27ff27, 748px 771px #27ff27, 940px 570px #27ff27,
    574px 651px #27ff27, 835px 533px #27ff27, 42px 1210px #27ff27,
    496px 1791px #27ff27, 1610px 296px #27ff27, 1446px 1574px #27ff27,
    261px 1765px #27ff27, 818px 368px #27ff27, 573px 743px #27ff27,
    545px 333px #27ff27, 1500px 1567px #27ff27, 1789px 448px #27ff27,
    1139px 1559px #27ff27, 1607px 1127px #27ff27, 1980px 874px #27ff27,
    731px 1559px #27ff27, 898px 158px #27ff27, 1641px 1053px #27ff27,
    53px 377px #27ff27, 1879px 1370px #27ff27, 1377px 899px #27ff27,
    1416px 829px #27ff27, 863px 1545px #27ff27, 1219px 1935px #27ff27,
    1638px 320px #27ff27, 239px 1807px #27ff27, 851px 464px #27ff27,
    1868px 1843px #27ff27, 679px 203px #27ff27, 1762px 842px #27ff27,
    59px 1986px #27ff27, 1142px 1911px #27ff27, 838px 1030px #27ff27,
    1370px 1269px #27ff27, 781px 274px #27ff27, 1193px 551px #27ff27,
    638px 478px #27ff27, 456px 1854px #27ff27, 424px 690px #27ff27,
    13px 600px #27ff27, 306px 1867px #27ff27, 384px 1298px #27ff27,
    762px 342px #27ff27, 1780px 1196px #27ff27, 108px 1138px #27ff27,
    1671px 866px #27ff27, 831px 1515px #27ff27, 218px 1455px #27ff27,
    1315px 1494px #27ff27, 1365px 1181px #27ff27, 168px 986px #27ff27,
    349px 506px #27ff27, 974px 1437px #27ff27, 1605px 908px #27ff27,
    1036px 1208px #27ff27, 1082px 1407px #27ff27, 916px 827px #27ff27,
    1526px 566px #27ff27, 1159px 1877px #27ff27, 210px 1180px #27ff27,
    979px 1815px #27ff27, 130px 1358px #27ff27, 1961px 1963px #27ff27,
    771px 591px #27ff27, 1905px 487px #27ff27, 1816px 1565px #27ff27,
    333px 1600px #27ff27, 1842px 1774px #27ff27, 1573px 135px #27ff27,
    1385px 1889px #27ff27, 1611px 1033px #27ff27, 367px 1236px #27ff27,
    779px 1022px #27ff27, 1851px 62px #27ff27, 478px 257px #27ff27,
    1907px 1960px #27ff27, 1435px 532px #27ff27, 662px 8px #27ff27,
    1027px 1924px #27ff27, 489px 101px #27ff27, 76px 1875px #27ff27,
    657px 1682px #27ff27, 1993px 1955px #27ff27, 1432px 1845px #27ff27,
    1530px 1729px #27ff27, 1211px 896px #27ff27, 1525px 133px #27ff27,
    1445px 803px #27ff27, 530px 62px #27ff27, 242px 1513px #27ff27,
    256px 933px #27ff27, 1701px 936px #27ff27, 756px 1893px #27ff27,
    1251px 1298px #27ff27, 380px 1399px #27ff27, 1455px 302px #27ff27,
    1729px 1171px #27ff27, 585px 49px #27ff27, 1961px 1124px #27ff27,
    1241px 552px #27ff27, 1205px 40px #27ff27, 1938px 1247px #27ff27,
    1469px 89px #27ff27, 239px 1939px #27ff27, 698px 448px #27ff27,
    1795px 346px #27ff27, 151px 487px #27ff27, 102px 126px #27ff27,
    1184px 418px #27ff27, 1625px 1418px #27ff27, 29px 554px #27ff27,
    1288px 1274px #27ff27, 791px 1308px #27ff27, 151px 934px #27ff27,
    1574px 386px #27ff27, 1214px 1703px #27ff27, 1569px 1424px #27ff27,
    951px 1830px #27ff27, 1728px 805px #27ff27, 312px 1987px #27ff27,
    1468px 529px #27ff27, 1153px 1146px #27ff27, 1262px 1021px #27ff27,
    1648px 1766px #27ff27, 306px 70px #27ff27, 754px 1165px #27ff27,
    1930px 482px #27ff27, 1814px 1593px #27ff27, 1066px 822px #27ff27,
    1250px 877px #27ff27, 465px 1885px #27ff27, 1649px 1281px #27ff27,
    1682px 1601px #27ff27, 1367px 1233px #27ff27, 91px 1327px #27ff27,
    1485px 1355px #27ff27, 501px 1673px #27ff27, 1649px 1259px #27ff27,
    1986px 948px #27ff27, 1266px 1829px #27ff27, 135px 1503px #27ff27,
    647px 296px #27ff27, 155px 341px #27ff27, 649px 1896px #27ff27,
    1617px 334px #27ff27, 223px 1507px #27ff27, 584px 146px #27ff27,
    200px 316px #27ff27, 575px 1831px #27ff27, 1374px 1809px #27ff27,
    1445px 386px #27ff27, 475px 1249px #27ff27, 1954px 89px #27ff27,
    1756px 1192px #27ff27, 8px 671px #27ff27, 1366px 1694px #27ff27,
    1831px 306px #27ff27, 925px 113px #27ff27, 160px 1174px #27ff27,
    534px 1908px #27ff27, 553px 273px #27ff27, 423px 45px #27ff27,
    1305px 1098px #27ff27, 187px 90px #27ff27, 1993px 1396px #27ff27,
    842px 1270px #27ff27, 1137px 554px #27ff27, 351px 558px #27ff27,
    1576px 1070px #27ff27, 437px 312px #27ff27, 286px 1019px #27ff27,
    257px 272px #27ff27, 1242px 1957px #27ff27, 1963px 1693px #27ff27,
    772px 447px #27ff27, 1641px 508px #27ff27, 712px 100px #27ff27,
    1307px 1015px #27ff27, 742px 327px #27ff27, 281px 1814px #27ff27,
    1398px 1051px #27ff27, 167px 9px #27ff27, 328px 1489px #27ff27,
    1814px 1804px #27ff27, 946px 25px #27ff27, 549px 1705px #27ff27,
    217px 1477px #27ff27, 1937px 280px #27ff27, 182px 241px #27ff27,
    711px 1365px #27ff27, 1898px 1043px #27ff27, 1807px 346px #27ff27,
    1787px 1253px #27ff27, 247px 66px #27ff27, 1171px 1592px #27ff27,
    846px 895px #27ff27, 1507px 720px #27ff27, 787px 574px #27ff27,
    1593px 1267px #27ff27, 843px 1902px #27ff27, 15px 1454px #27ff27,
    539px 1420px #27ff27, 1856px 974px #27ff27, 340px 663px #27ff27,
    1579px 1091px #27ff27, 809px 111px #27ff27, 32px 1128px #27ff27,
    69px 1852px #27ff27, 878px 300px #27ff27, 730px 726px #27ff27,
    1137px 68px #27ff27;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 592px 134px #27ff27, 346px 741px #27ff27, 1000px 1781px #27ff27,
    996px 728px #27ff27, 1085px 1462px #27ff27, 526px 1128px #27ff27,
    1951px 557px #27ff27, 673px 92px #27ff27, 415px 776px #27ff27,
    1570px 643px #27ff27, 121px 697px #27ff27, 782px 1847px #27ff27,
    1853px 256px #27ff27, 910px 195px #27ff27, 362px 1201px #27ff27,
    52px 1627px #27ff27, 387px 899px #27ff27, 547px 1995px #27ff27,
    1298px 440px #27ff27, 1474px 1713px #27ff27, 1109px 1322px #27ff27,
    1720px 1237px #27ff27, 473px 1196px #27ff27, 1682px 580px #27ff27,
    1476px 655px #27ff27, 1254px 731px #27ff27, 1069px 1840px #27ff27,
    291px 1789px #27ff27, 825px 1237px #27ff27, 1067px 543px #27ff27,
    962px 990px #27ff27, 1606px 1387px #27ff27, 884px 1555px #27ff27,
    1209px 1830px #27ff27, 439px 535px #27ff27, 360px 1451px #27ff27,
    1018px 1837px #27ff27, 1964px 677px #27ff27, 1095px 159px #27ff27,
    390px 245px #27ff27, 1869px 597px #27ff27, 1857px 544px #27ff27,
    745px 1186px #27ff27, 336px 1867px #27ff27, 250px 1377px #27ff27,
    1872px 168px #27ff27, 878px 1299px #27ff27, 1257px 177px #27ff27,
    984px 303px #27ff27, 544px 303px #27ff27, 1250px 1052px #27ff27,
    152px 1322px #27ff27, 1466px 289px #27ff27, 1104px 1116px #27ff27,
    1796px 482px #27ff27, 1086px 525px #27ff27, 1540px 1822px #27ff27,
    196px 1999px #27ff27, 1893px 771px #27ff27, 1171px 1728px #27ff27,
    1996px 710px #27ff27, 436px 370px #27ff27, 1270px 1570px #27ff27,
    55px 900px #27ff27, 1875px 1291px #27ff27, 337px 1251px #27ff27,
    25px 5px #27ff27, 1619px 835px #27ff27, 410px 676px #27ff27,
    956px 531px #27ff27, 90px 489px #27ff27, 561px 576px #27ff27,
    907px 45px #27ff27, 1657px 810px #27ff27, 1029px 1705px #27ff27,
    1281px 828px #27ff27, 466px 961px #27ff27, 674px 1105px #27ff27,
    456px 918px #27ff27, 331px 148px #27ff27, 1105px 1681px #27ff27,
    922px 319px #27ff27, 1600px 1403px #27ff27, 420px 977px #27ff27,
    166px 1637px #27ff27, 1033px 1668px #27ff27, 1884px 208px #27ff27,
    552px 720px #27ff27, 1543px 119px #27ff27, 587px 103px #27ff27,
    348px 1766px #27ff27, 664px 761px #27ff27, 565px 1253px #27ff27,
    1472px 1332px #27ff27, 471px 1569px #27ff27, 747px 76px #27ff27,
    1429px 308px #27ff27, 1850px 597px #27ff27, 1148px 1085px #27ff27,
    307px 208px #27ff27, 253px 736px #27ff27, 148px 122px #27ff27,
    366px 1163px #27ff27, 1589px 1436px #27ff27, 1359px 1027px #27ff27,
    1805px 95px #27ff27, 910px 837px #27ff27, 1578px 976px #27ff27,
    954px 710px #27ff27, 743px 1552px #27ff27, 271px 686px #27ff27,
    1960px 1336px #27ff27, 740px 1431px #27ff27, 972px 1184px #27ff27,
    1690px 1942px #27ff27, 1222px 839px #27ff27, 1151px 164px #27ff27,
    1248px 871px #27ff27, 893px 1975px #27ff27, 1979px 859px #27ff27,
    139px 642px #27ff27, 856px 523px #27ff27, 879px 1186px #27ff27,
    1440px 1036px #27ff27, 1624px 1411px #27ff27, 1320px 1239px #27ff27,
    1747px 1662px #27ff27, 1155px 765px #27ff27, 885px 43px #27ff27,
    552px 1690px #27ff27, 731px 293px #27ff27, 1655px 1809px #27ff27,
    187px 1766px #27ff27, 811px 1318px #27ff27, 716px 241px #27ff27,
    633px 668px #27ff27, 916px 1359px #27ff27, 1054px 620px #27ff27,
    1038px 1345px #27ff27, 1334px 1118px #27ff27, 393px 52px #27ff27,
    1722px 590px #27ff27, 1329px 244px #27ff27, 1388px 1983px #27ff27,
    66px 1845px #27ff27, 172px 995px #27ff27, 1258px 1766px #27ff27,
    310px 110px #27ff27, 1019px 1705px #27ff27, 394px 1471px #27ff27,
    489px 1962px #27ff27, 183px 1155px #27ff27, 90px 1153px #27ff27,
    845px 60px #27ff27, 403px 1930px #27ff27, 820px 256px #27ff27,
    394px 1716px #27ff27, 1744px 690px #27ff27, 831px 1562px #27ff27,
    110px 1000px #27ff27, 1604px 585px #27ff27, 1954px 1442px #27ff27,
    397px 1085px #27ff27, 242px 1785px #27ff27, 1216px 1885px #27ff27,
    1873px 1700px #27ff27, 1181px 8px #27ff27, 1978px 701px #27ff27,
    1968px 391px #27ff27, 1621px 947px #27ff27, 1142px 1244px #27ff27,
    558px 584px #27ff27, 881px 767px #27ff27, 96px 960px #27ff27,
    1143px 262px #27ff27, 690px 1357px #27ff27, 218px 1363px #27ff27,
    1507px 16px #27ff27, 1947px 1785px #27ff27, 755px 1928px #27ff27,
    1620px 1126px #27ff27, 1194px 1932px #27ff27, 728px 1068px #27ff27,
    542px 1765px #27ff27, 1159px 1334px #27ff27, 1284px 444px #27ff27,
    1623px 1161px #27ff27, 190px 1011px #27ff27, 855px 1379px #27ff27,
    1244px 30px #27ff27, 1144px 1873px #27ff27, 1276px 958px #27ff27,
    1675px 1097px #27ff27, 354px 1735px #27ff27, 1534px 235px #27ff27,
    560px 1850px #27ff27, 493px 1737px #27ff27, 782px 598px #27ff27,
    1709px 1377px #27ff27, 717px 1040px #27ff27;
  animation: animStar 100s linear infinite;
}
#stars2::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 592px 134px #27ff27, 346px 741px #27ff27, 1000px 1781px #27ff27,
    996px 728px #27ff27, 1085px 1462px #27ff27, 526px 1128px #27ff27,
    1951px 557px #27ff27, 673px 92px #27ff27, 415px 776px #27ff27,
    1570px 643px #27ff27, 121px 697px #27ff27, 782px 1847px #27ff27,
    1853px 256px #27ff27, 910px 195px #27ff27, 362px 1201px #27ff27,
    52px 1627px #27ff27, 387px 899px #27ff27, 547px 1995px #27ff27,
    1298px 440px #27ff27, 1474px 1713px #27ff27, 1109px 1322px #27ff27,
    1720px 1237px #27ff27, 473px 1196px #27ff27, 1682px 580px #27ff27,
    1476px 655px #27ff27, 1254px 731px #27ff27, 1069px 1840px #27ff27,
    291px 1789px #27ff27, 825px 1237px #27ff27, 1067px 543px #27ff27,
    962px 990px #27ff27, 1606px 1387px #27ff27, 884px 1555px #27ff27,
    1209px 1830px #27ff27, 439px 535px #27ff27, 360px 1451px #27ff27,
    1018px 1837px #27ff27, 1964px 677px #27ff27, 1095px 159px #27ff27,
    390px 245px #27ff27, 1869px 597px #27ff27, 1857px 544px #27ff27,
    745px 1186px #27ff27, 336px 1867px #27ff27, 250px 1377px #27ff27,
    1872px 168px #27ff27, 878px 1299px #27ff27, 1257px 177px #27ff27,
    984px 303px #27ff27, 544px 303px #27ff27, 1250px 1052px #27ff27,
    152px 1322px #27ff27, 1466px 289px #27ff27, 1104px 1116px #27ff27,
    1796px 482px #27ff27, 1086px 525px #27ff27, 1540px 1822px #27ff27,
    196px 1999px #27ff27, 1893px 771px #27ff27, 1171px 1728px #27ff27,
    1996px 710px #27ff27, 436px 370px #27ff27, 1270px 1570px #27ff27,
    55px 900px #27ff27, 1875px 1291px #27ff27, 337px 1251px #27ff27,
    25px 5px #27ff27, 1619px 835px #27ff27, 410px 676px #27ff27,
    956px 531px #27ff27, 90px 489px #27ff27, 561px 576px #27ff27,
    907px 45px #27ff27, 1657px 810px #27ff27, 1029px 1705px #27ff27,
    1281px 828px #27ff27, 466px 961px #27ff27, 674px 1105px #27ff27,
    456px 918px #27ff27, 331px 148px #27ff27, 1105px 1681px #27ff27,
    922px 319px #27ff27, 1600px 1403px #27ff27, 420px 977px #27ff27,
    166px 1637px #27ff27, 1033px 1668px #27ff27, 1884px 208px #27ff27,
    552px 720px #27ff27, 1543px 119px #27ff27, 587px 103px #27ff27,
    348px 1766px #27ff27, 664px 761px #27ff27, 565px 1253px #27ff27,
    1472px 1332px #27ff27, 471px 1569px #27ff27, 747px 76px #27ff27,
    1429px 308px #27ff27, 1850px 597px #27ff27, 1148px 1085px #27ff27,
    307px 208px #27ff27, 253px 736px #27ff27, 148px 122px #27ff27,
    366px 1163px #27ff27, 1589px 1436px #27ff27, 1359px 1027px #27ff27,
    1805px 95px #27ff27, 910px 837px #27ff27, 1578px 976px #27ff27,
    954px 710px #27ff27, 743px 1552px #27ff27, 271px 686px #27ff27,
    1960px 1336px #27ff27, 740px 1431px #27ff27, 972px 1184px #27ff27,
    1690px 1942px #27ff27, 1222px 839px #27ff27, 1151px 164px #27ff27,
    1248px 871px #27ff27, 893px 1975px #27ff27, 1979px 859px #27ff27,
    139px 642px #27ff27, 856px 523px #27ff27, 879px 1186px #27ff27,
    1440px 1036px #27ff27, 1624px 1411px #27ff27, 1320px 1239px #27ff27,
    1747px 1662px #27ff27, 1155px 765px #27ff27, 885px 43px #27ff27,
    552px 1690px #27ff27, 731px 293px #27ff27, 1655px 1809px #27ff27,
    187px 1766px #27ff27, 811px 1318px #27ff27, 716px 241px #27ff27,
    633px 668px #27ff27, 916px 1359px #27ff27, 1054px 620px #27ff27,
    1038px 1345px #27ff27, 1334px 1118px #27ff27, 393px 52px #27ff27,
    1722px 590px #27ff27, 1329px 244px #27ff27, 1388px 1983px #27ff27,
    66px 1845px #27ff27, 172px 995px #27ff27, 1258px 1766px #27ff27,
    310px 110px #27ff27, 1019px 1705px #27ff27, 394px 1471px #27ff27,
    489px 1962px #27ff27, 183px 1155px #27ff27, 90px 1153px #27ff27,
    845px 60px #27ff27, 403px 1930px #27ff27, 820px 256px #27ff27,
    394px 1716px #27ff27, 1744px 690px #27ff27, 831px 1562px #27ff27,
    110px 1000px #27ff27, 1604px 585px #27ff27, 1954px 1442px #27ff27,
    397px 1085px #27ff27, 242px 1785px #27ff27, 1216px 1885px #27ff27,
    1873px 1700px #27ff27, 1181px 8px #27ff27, 1978px 701px #27ff27,
    1968px 391px #27ff27, 1621px 947px #27ff27, 1142px 1244px #27ff27,
    558px 584px #27ff27, 881px 767px #27ff27, 96px 960px #27ff27,
    1143px 262px #27ff27, 690px 1357px #27ff27, 218px 1363px #27ff27,
    1507px 16px #27ff27, 1947px 1785px #27ff27, 755px 1928px #27ff27,
    1620px 1126px #27ff27, 1194px 1932px #27ff27, 728px 1068px #27ff27,
    542px 1765px #27ff27, 1159px 1334px #27ff27, 1284px 444px #27ff27,
    1623px 1161px #27ff27, 190px 1011px #27ff27, 855px 1379px #27ff27,
    1244px 30px #27ff27, 1144px 1873px #27ff27, 1276px 958px #27ff27,
    1675px 1097px #27ff27, 354px 1735px #27ff27, 1534px 235px #27ff27,
    560px 1850px #27ff27, 493px 1737px #27ff27, 782px 598px #27ff27,
    1709px 1377px #27ff27, 717px 1040px #27ff27;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 222px 946px #27ff27, 408px 926px #27ff27, 1608px 1741px #27ff27,
    1977px 1436px #27ff27, 713px 1152px #27ff27, 139px 39px #27ff27,
    497px 1590px #27ff27, 1808px 1652px #27ff27, 598px 667px #27ff27,
    1962px 75px #27ff27, 331px 1245px #27ff27, 1600px 1822px #27ff27,
    1463px 883px #27ff27, 299px 335px #27ff27, 1229px 909px #27ff27,
    448px 581px #27ff27, 1346px 571px #27ff27, 1247px 458px #27ff27,
    799px 186px #27ff27, 643px 404px #27ff27, 1330px 790px #27ff27,
    299px 699px #27ff27, 1593px 1891px #27ff27, 934px 1230px #27ff27,
    1162px 1835px #27ff27, 903px 1024px #27ff27, 596px 900px #27ff27,
    1223px 1078px #27ff27, 682px 1024px #27ff27, 151px 373px #27ff27,
    54px 1586px #27ff27, 657px 1902px #27ff27, 812px 273px #27ff27,
    705px 1142px #27ff27, 1902px 1353px #27ff27, 1222px 1980px #27ff27,
    767px 158px #27ff27, 22px 663px #27ff27, 1055px 727px #27ff27,
    1728px 750px #27ff27, 223px 287px #27ff27, 438px 127px #27ff27,
    224px 1146px #27ff27, 1594px 1466px #27ff27, 1505px 436px #27ff27,
    389px 1049px #27ff27, 596px 435px #27ff27, 1997px 1798px #27ff27,
    29px 51px #27ff27, 40px 514px #27ff27, 1779px 769px #27ff27,
    652px 1211px #27ff27, 1599px 347px #27ff27, 1854px 1941px #27ff27,
    485px 1633px #27ff27, 697px 1894px #27ff27, 1772px 877px #27ff27,
    555px 1030px #27ff27, 976px 1338px #27ff27, 541px 1112px #27ff27,
    817px 899px #27ff27, 961px 923px #27ff27, 115px 1321px #27ff27,
    875px 434px #27ff27, 1577px 1980px #27ff27, 1160px 131px #27ff27,
    15px 160px #27ff27, 979px 56px #27ff27, 959px 1756px #27ff27,
    1358px 435px #27ff27, 563px 591px #27ff27, 1284px 475px #27ff27,
    341px 601px #27ff27, 74px 471px #27ff27, 416px 584px #27ff27,
    692px 536px #27ff27, 1041px 377px #27ff27, 1601px 1923px #27ff27,
    1014px 241px #27ff27, 122px 1594px #27ff27, 1510px 280px #27ff27,
    195px 1720px #27ff27, 152px 104px #27ff27, 1686px 811px #27ff27,
    1329px 750px #27ff27, 1655px 441px #27ff27, 1288px 1040px #27ff27,
    1802px 1368px #27ff27, 767px 615px #27ff27, 302px 195px #27ff27,
    1973px 1902px #27ff27, 1088px 1583px #27ff27, 1840px 1126px #27ff27,
    500px 111px #27ff27, 1263px 667px #27ff27, 1748px 121px #27ff27,
    1608px 364px #27ff27, 1064px 1610px #27ff27, 1682px 1826px #27ff27,
    1747px 1800px #27ff27;
  animation: animStar 150s linear infinite;
}
#stars3::after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 222px 946px #27ff27, 408px 926px #27ff27, 1608px 1741px #27ff27,
    1977px 1436px #27ff27, 713px 1152px #27ff27, 139px 39px #27ff27,
    497px 1590px #27ff27, 1808px 1652px #27ff27, 598px 667px #27ff27,
    1962px 75px #27ff27, 331px 1245px #27ff27, 1600px 1822px #27ff27,
    1463px 883px #27ff27, 299px 335px #27ff27, 1229px 909px #27ff27,
    448px 581px #27ff27, 1346px 571px #27ff27, 1247px 458px #27ff27,
    799px 186px #27ff27, 643px 404px #27ff27, 1330px 790px #27ff27,
    299px 699px #27ff27, 1593px 1891px #27ff27, 934px 1230px #27ff27,
    1162px 1835px #27ff27, 903px 1024px #27ff27, 596px 900px #27ff27,
    1223px 1078px #27ff27, 682px 1024px #27ff27, 151px 373px #27ff27,
    54px 1586px #27ff27, 657px 1902px #27ff27, 812px 273px #27ff27,
    705px 1142px #27ff27, 1902px 1353px #27ff27, 1222px 1980px #27ff27,
    767px 158px #27ff27, 22px 663px #27ff27, 1055px 727px #27ff27,
    1728px 750px #27ff27, 223px 287px #27ff27, 438px 127px #27ff27,
    224px 1146px #27ff27, 1594px 1466px #27ff27, 1505px 436px #27ff27,
    389px 1049px #27ff27, 596px 435px #27ff27, 1997px 1798px #27ff27,
    29px 51px #27ff27, 40px 514px #27ff27, 1779px 769px #27ff27,
    652px 1211px #27ff27, 1599px 347px #27ff27, 1854px 1941px #27ff27,
    485px 1633px #27ff27, 697px 1894px #27ff27, 1772px 877px #27ff27,
    555px 1030px #27ff27, 976px 1338px #27ff27, 541px 1112px #27ff27,
    817px 899px #27ff27, 961px 923px #27ff27, 115px 1321px #27ff27,
    875px 434px #27ff27, 1577px 1980px #27ff27, 1160px 131px #27ff27,
    15px 160px #27ff27, 979px 56px #27ff27, 959px 1756px #27ff27,
    1358px 435px #27ff27, 563px 591px #27ff27, 1284px 475px #27ff27,
    341px 601px #27ff27, 74px 471px #27ff27, 416px 584px #27ff27,
    692px 536px #27ff27, 1041px 377px #27ff27, 1601px 1923px #27ff27,
    1014px 241px #27ff27, 122px 1594px #27ff27, 1510px 280px #27ff27,
    195px 1720px #27ff27, 152px 104px #27ff27, 1686px 811px #27ff27,
    1329px 750px #27ff27, 1655px 441px #27ff27, 1288px 1040px #27ff27,
    1802px 1368px #27ff27, 767px 615px #27ff27, 302px 195px #27ff27,
    1973px 1902px #27ff27, 1088px 1583px #27ff27, 1840px 1126px #27ff27,
    500px 111px #27ff27, 1263px 667px #27ff27, 1748px 121px #27ff27,
    1608px 364px #27ff27, 1064px 1610px #27ff27, 1682px 1826px #27ff27,
    1747px 1800px #27ff27;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}
