* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #27ff27;
  background: black;
  text-decoration: none;
}

*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #27ff27;
  background: black;
  text-decoration: none;
}

*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #27ff27;
  background: black;
  text-decoration: none;
}

html {
  background-color: black;
}

body {
  min-height: 100%;
  max-width: 100%;
  font-family: "Press Start 2P", cursive, sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.nav-container {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

.nav-container .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.nav-container .nav-list li {
  font-size: 1.25rem;
  margin: 1rem 0.5rem;
  list-style: none;
}

.nav-container .nav-list li p .neon-button {
  display: inline-block;
  cursor: pointer;
  padding: 0.5em 0.5em;
  border: 3px solid rgba(3, 160, 98, 0.6);
  border-radius: 2px;
  text-shadow: 0 0 0.125em #27ff27, 0 0 0.45em;
  -webkit-box-shadow: inset 0 0 0.5em 0 #27ff27, 0 0 0.5em 0 #27ff27;
  box-shadow: inset 0 0 0.5em 0 #27ff27, 0 0 0.5em 0 #27ff27;
  position: relative;
}

.nav-container .nav-list li p .neon-button:hover {
  color: rgba(3, 160, 98, 0.2);
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}

.nav-container .nav-list li p .neon-button:focus {
  color: #27ff27;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto 30% auto;
  border-radius: 15px;
  font-size: 1.75rem;
}

.container .home h1.type-me {
  text-align: center;
  margin: 2rem auto;
  overflow: hidden;
  white-space: nowrap;
  width: 14ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #27ff27;
  animation: typing 4s steps(14), caret 1s steps(1) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes caret {
  50% {
    border-right-color: transparent;
  }
}

.container section {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container section h2 {
  width: 100%;
  display: inline-block;
  text-align: left;
  padding: 2rem;
  margin-top: 1rem;
}

.container .about div p {
  word-wrap: break-word;
}

.container .projects {
  margin: 2rem;
}

.container .projects .card-container {
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 4rem 0;
}

.container .projects .card-container .row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .projects .card-container .row .card {
  width: 40%;
  height: auto;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.container .projects .card-container .row .card p {
  height: 10%;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.container .projects .card-container .row .card a {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #27ff27;
  border-radius: 15px;
}

.container .projects .card-container .card a:hover img {
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
  opacity: 0.8;
}

.container .projects .card-container .card a img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}

.container .projects .card-container .card a p {
  -webkit-transition: height 5s;
  transition: height 5s;
  white-space: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  height: auto;
  display: none;
}

.container #projects,
.container .about,
.container #about,
.container #contact {
  margin: 2rem;
}

.container .about div {
  border: 3px solid #27ff27;
  border-radius: 3px;
}

.about > div,
.form-container {
  box-shadow: 0 0 1em #27ff27;
}

.container .about div div.overlay {
  width: 30%;
  height: auto;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.overlay img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}

.container #projects div p,
.container .about div p,
.container #about div p,
.container #contact div p {
  line-height: 1.5rem;
  padding: 2rem;
  font-weight: 100;
}

.container .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 2rem 0;
  width: 50%;
}

.container .contact .form-container {
  border: 3px solid #27ff27;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container .contact .form-container p {
  text-align: left;
  padding: 1rem;
  font-weight: 100;
}

.container .contact .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.container .contact .form-container form label,
.container .contact .form-container form input {
  color: #27ff27;
  width: 50%;
  display: inline;
  text-align: left;
  padding: 1rem;
  -webkit-transition: width 1s;
  transition: width 1s;
  font-family: "Press Start 2P";
  font-size: 1rem;
  border-radius: 2px;
  font-weight: 100;
}

.container .contact .form-container form input {
  border: 1px solid #27ff27;
  margin: 0 1rem;
}

.container .contact .form-container form input:focus,
.container .contact .form-container form input:hover {
  outline: none;
  width: 75%;
  border: 2px solid #27ff27;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

.container .contact .form-container form p {
  line-height: 1.5rem;
  font-weight: 100;
}

.container .contact .form-container form textarea {
  text-align: left;
  padding: 1rem;
  line-height: 1.5rem;
  font-family: "Press Start 2P";
  border: 1px solid #27ff27;
  border-radius: 2px;
  display: block;
  margin: 0 1rem;
  height: 10em;
  outline: none;
  color: #27ff27;
  font-size: 1rem;
  font-weight: 100;
}

.container .contact .form-container form textarea:hover,
.container .contact .form-container form textarea:focus {
  border: 2px solid #27ff27;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

.container .contact .form-container form button {
  display: block;
  margin: auto;
  cursor: pointer;
  font-size: 1.25rem;
  color: #27ff27;
  list-style: none;
  padding: 0.5em 0.5em;
  border: 3px solid rgba(3, 160, 98, 0.6);
  border-radius: 2px;
  text-shadow: 0 0 0.125em #27ff27, 0 0 0.45em;
  -webkit-box-shadow: inset 0 0 0.5em 0 #27ff27, 0 0 0.5em 0 #27ff27;
  box-shadow: inset 0 0 0.5em 0 #27ff27, 0 0 0.5em 0 #27ff27;
  font-family: "Press Start 2P";
  font-weight: 100;
}

.container .contact .form-container form button:hover {
  color: rgba(3, 160, 98, 0.2);
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}

.container .contact .form-container form button:focus {
  color: #27ff27;
}

.container .contact .contact-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
}

.container .contact .contact-container .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
}

.container .contact .contact-container p {
  text-align: left;
  padding: 2rem;
}

.container .contact .contact-container h2 {
  text-align: center;
}

.container .contact .contact-container .donations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75%;
  height: auto;
  align-items: center;
}

.container .contact .contact-container .icons {
  width: 75%;
  margin: auto;
  border-radius: 2px;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  justify-content: center;
}

.icons p,
.icons-container p {
  font-weight: 100;
}

body footer {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  border-top: 1px solid #27ff27;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 100;
}

::-webkit-scrollbar-thumb {
  background: #27ff27;
  color: #27ff27;
}

[class^="fa"],
.gift {
  margin: 0.25em;
  background: #27ff27;
  color: #27ff27;
}

[class^="fa"]:hover,
.gift:hover {
  opacity: 0.6;
}

.gift {
  border: 2px solid #27ff27;
  border-radius: 6px;
}

.gift span img {
  padding: 0.15rem;
}

::-webkit-scrollbar {
  width: 2px;
  color: #27ff27;
}

@media only screen and (max-width: 1400px) {
  body {
    width: 100%;
    height: auto;
  }

  .home {
    margin: 5% auto 40% auto;
  }
  body .nav-container {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  body .nav-container .nav-list {
    width: 100%;
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  body .container h1 {
    margin: 2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .nav-container {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
  }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .container section.home {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 5% auto 60% auto;
  }

  h1 {
    font-size: 2rem;
    margin: auto;
    text-align: center;
  }

  .container .projects .card-container .row,
  .container .projects .card-container .row .card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container .form-container .contact-container {
    word-wrap: break-word;
  }
  .container .form-container .contact-container p {
    width: 90%;
    line-height: 1.5rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    margin: auto;
  }
  .container .form-container .contact-container .icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  .container .form-container .contact-container .icons-container .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .gift {
    margin: auto;
    background-color: black;
  }
  .container .contact .form-container form input {
    width: 90%;
  }
  .container .contact .form-container form input:focus,
  .container .contact .form-container form input:hover {
    outline: none;
    width: 90%;
    border: 2px solid #27ff27;
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }
  .container h1 {
    margin: 2rem;
  }
  .icons * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 769px) {
  body {
    width: 100%;
    height: auto;
  }
  body .nav-container {
    position: relative;

    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  body .nav-container .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20%;
    width: 100%;
    margin: auto;
  }

  body .nav-container .nav-list li {
    width: 50%;
  }
  body .nav-container .nav-list li p a {
    text-align: center;
    width: 100%;
  }

  body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  body .container h1 {
    margin: 2rem;
  }

  .container section {
    width: 50%;
    height: auto;
  }

  body .container .form-container .contact-container {
    word-wrap: break-word;
  }
  body .container .form-container .contact-container p {
    width: 90%;
    line-height: 1.5rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    margin: auto;
    padding: 1rem;
  }
  body .container .form-container .contact-container .icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  body .container .contact .form-container form input {
    width: 90%;
  }
  body .container .contact .form-container form input:focus,
  body .container .contact .form-container form input:hover {
    outline: none;
    width: 90%;
    border: 2px solid #27ff27;
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }
}

@media only screen and (max-width: 576px) {
  body {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: black;
  }

  body .nav-container {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  body .nav-container .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20%;
    width: 100%;
    margin: auto;
  }
  body .nav-container .nav-list li {
    width: 50%;
  }
  body .nav-container .nav-list li p a {
    text-align: center;
    width: 100%;
  }
  body .container {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2rem;
  }

  section.home h1 {
    width: 100%;
    display: flex;
    margin: 2rem auto;
    font-size: 1.5rem;
    text-align: center;
  }

  .container section,
  .container .about,
  .container .projects,
  .container .contact {
    width: 70%;
    height: auto;
    margin: 2rem;
  }

  body .container .about p {
    word-wrap: break-word;
  }

  body .container h2 {
    width: 100%;
    margin-top: 0.25rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .container .projects .card-container .row .card a img {
    width: 100%;
    height: auto;
  }

  section.contact > div > div > div > div:nth-child(1) > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .icons * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  section.contact > div > div > div > p {
    width: 100%;
    margin: auto;
  }

  .container .contact .contact-container p {
    padding: 0.5rem;
  }

  footer {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 380px) {
  body {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: black;
  }

  #home .nav-container {
    position: relative;
    z-index: 1;
  }

  body .nav-container .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20%;
    width: 100%;
    margin: auto;
  }
  body .nav-container .nav-list li {
    width: 70%;
  }

  body .container {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
  }

  .container .about {
    margin: auto;
  }

  body .container h1 {
    display: flex;
    text-align: center;
    font-size: 1.25rem;
    width: 80%;
    justify-content: center;
  }

  section,
  .about,
  .projects,
  .contact {
    width: 100%;
    height: auto;
  }

  body .container section,
  body .container .contact {
    margin: auto;
    width: 90%;
  }

  body .container h2 {
    margin-top: 0.25rem;
    text-align: center;
    font-size: 1.25rem;
    width: 100%;
    display: flex;
  }

  .projects .card-container {
    display: flex;
    flex-direction: column;
  }

  .contact-container p,
  form p {
    margin: auto;
    word-wrap: break-word;
  }

  footer {
    margin-top: 1rem;
  }
}
